<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2 class="cabecera">Google Books API use</h2>
  <p class="cabecera">First you have to generate an API key to use this web page, you can go to
    <a href="https://developers.google.com/books/docs/v1/using#APIKey">API key</a> to obtain your own key.
    <br>
    Once you do it, enter the key here and do the search.
</p>
  <div class="panel-group ">
    <div class="panel panel-default ">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel la r4w</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Panel Header</div>
      <select class="form-select panel-body col-xs-12" >
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
</div>



</body>
</html>